@page "/create"
@inject HttpClient Http
@inject NavigationManager Navigate
@using HamsterWars.Shared
<link href="/css/styles/styles.css" rel="stylesheet" />


<h3>Create</h3>

<EditForm Model="@newHamster" OnValidSubmit="AddHamster">
    <DataAnnotationsValidator />
    <div class="col-sm-6 mx-auto">
        <div class="form">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="newHamster.Name" class="form-control" />

            <label for="age">Age</label>
            <InputNumber id="age" @bind-Value="newHamster.Age" class="form-control" />

            <label for="image">Photo</label>
            <InputText id="photo" @bind-Value="newHamster.ImageName" class="form-control" />

            <label for="favFood">Favourite Food</label>
            <InputText id="favFood" name="favFood" @bind-Value="newHamster.FavouriteFood" class="form-control" />

            <label for="loves">Loves</label>
            <InputText id="loves" name="loves" @bind-Value="newHamster.Loves" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary float-end">Add</button>
        <ValidationSummary />
    </div>
</EditForm>

@code {
    private Hamster newHamster = new();

    private void AddHamster()
    {
        Http.PostAsJsonAsync("api/Hamster/", newHamster);

        Navigate.NavigateTo("/gallery");
    }
}
