@page "/create"
@inject HttpClient Http
@inject NavigationManager Navigate
@using HamsterWars.Shared
<link href="/css/styles/styles.css" rel="stylesheet" />


<h3>New hamster<span class="blinking-black">_</span></h3>



<EditForm Model="@newHamster" OnValidSubmit="AddHamster">    
    <DataAnnotationsValidator />
    <div class="col-md-6 mb-3 mt-3 card p-3 bg-light">
        <div class="form row g-3">
            
            <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <InputText id="name" @bind-Value="newHamster.Name" class="form-control" />
            </div>

            <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <InputNumber id="age" @bind-Value="newHamster.Age" class="form-control" />
            </div>

            <div class="col-md-6">
            <label for="image" class="form-label">Photo</label>
            <InputText id="photo" @bind-Value="newHamster.ImageName" class="form-control" />
            </div>

            <div class="col-md-6">
            <label for="favFood" class="form-label">Favourite Food</label>
            <InputText id="favFood" name="favFood" @bind-Value="newHamster.FavouriteFood" class="form-control" />
            </div>

            <div class="col-md-6">
            <label for="loves" class="form-label">Loves</label>
            <InputText id="loves" name="loves" @bind-Value="newHamster.Loves" class="form-control" />
            </div>

        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>    
    </div>
    </div>
        <ValidationSummary />

</EditForm>



@code {
    private Hamster newHamster = new();

    private void AddHamster()
    {
        Http.PostAsJsonAsync("api/Hamster/", newHamster);

        Navigate.NavigateTo("/gallery");
    }
}
