@page "/"

<PageTitle>Hamster Wars</PageTitle>

<h1>Welcome to Hamster Wars</h1>

<div class="col-md-6 mb-3 mt-3 card p-3 bg-light">
  <h4><span class="oi oi-home"></span> Home</h4>
  <p>Brings you back to this page.</p>

  <br />

  <h4><span class="oi oi-eye"></span> Gallery</h4>
  <p>Lets you meet the contestants. Hover over the images for details.</p>

  <br />

  <h4><span class="oi oi-fire"></span> Game</h4>
  <p>Lets you play Hamster Wars. Play by voting for the cutest hamster.</p>

  <br />

  <h4><span class="oi oi-plus"></span> Add Hamster</h4>
  <p>Lets you add a new hamster to the game.</p>

</div>