.head{
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 4em;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-bottom: 2em;
}

.middle {
    width: 300px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.game-image{
    display: block;
    width: 100%;
    height: 300px;
}

.blinking-black {
    animation: blinkingText-black 1.2s infinite;
}

@keyframes blinkingText-black {
    0% {    color: #000;        }
    49% {   color: #000;        }
    60% {   color: transparent; }
    99% {   color: transparent; }
    100% {  color: #000;        }
}

.blinking-white {
    animation: blinkingText-white 1.2s infinite;
}

@keyframes blinkingText-white {
    0% {    color: #fff;        }
    49% {   color: #fff;        }
    60% {   color: transparent; }
    99% {   color: transparent; }
    100% {  color: #fff;        }
}